@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
     font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #ff3131;
    --color-primary-dull: #1f58d8;
    --color-light: #F1F5F9;
    --color-borderColor: #ff3131;
    --color-transparent: transparent;
 
    
}